body {
    background-color: #282c34;
    color: white;
}

.container {
    height: 95vh;

    align-items: center;
    justify-content: center;

    font-size: 25vw;
}

.timer-controll {
    position: absolute;
    top: 15%;
    width: 90%;
}
